<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Team Name</th>
      <th scope="col">Stadium Size</th>
      <th scope="col">Match Date</th>
    </tr>
  </thead>

  <tbody>
  <%@days.each do |day|%>
    <tr>
      <td><%=day.team.name%> </td>
      <td><%=day.stad.size%></td>
      <td><%=day.match_day%> </td>
    </tr>
    <%end%>
  </tbody>
</table>
<%= link_to 'book a day', new_day_path%>